@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Tiny5&family=Unica+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lilita+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Laila:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');

*,
*:before,
*:after {
  box-sizing: border-box; 
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    color: rgb(33, 42, 78); 
    scroll-behavior: smooth; 
}

.projectbanner {
    background-image: url('images/projectbanner.gif');
  
    height: 50vh;
  
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  
  }

  .parallax {
    background-image: url('images/pixel.png');
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    margin: 0; 
  }

  .page-nav{
    background-color: white; 
  }

  .page-nav a {
    color: #14142A; 
  }

  .typing {
    animation: typing 4s steps(40, end);
  }
  
  @keyframes typing {
    from { width: 0 }
    to { width: 100% }
  }

.image{
    width: 350px; 
    height: auto; 
    border-radius: 50%; 
    margin: 1rem; 
    margin-left: 3rem; 
    margin-top: 2rem; 
    border: 2px solid rgb(64, 60, 55); 
}

.image-div {
    width: 100%;  
    
}

.cursor {
    display: inline-block;
    margin-bottom: -.1rem;
    margin-left: .3rem;
    width: 2px;
    height: 2.3rem;
    background-color: rgb(247, 233, 216); 
    animation: blink 1s step-start infinite;
}

@keyframes blink {
    50% {
        opacity: 0;
    }
}

.hero {
    display: flex;
    align-items: center;
    background: #14142A; 
}

.hero-text {
    text-align: right; 
    color: rgb(247, 233, 216); 
    /* color: #14142A;  */
    /* background: #EADED7; */
    /* background: #4f4f81;  */
    font-family: "Raleway", sans-serif;
    box-shadow: none; 
    border-radius: 0; 
    width: 36%; 
    padding-left: 1rem; 
}

.hero-image {
    width: 100%; 
    overflow: hidden;
    margin-left: 2rem; 
}

.top-text {
    margin: auto;  
    text-align: left; 
    padding: 1rem; 
    margin: 0 2rem; 
}

nav ul{
    text-align: center; 
    justify-content: space-between;
    display: flex; 
    list-style: none;
    margin: 0; 
    padding: 2rem;
    align-items: center;
    background: #14142A;
    /* position: fixed;
    width: 100%; 
    top: 0; 
    left: 0;  */
}

nav a{
    color: rgb(247, 233, 216); 
    text-decoration: none; 
    padding: .8rem; 
    margin-top: 1rem; 
    margin: 1rem; 
}

nav a:hover{
    color: rgb(33, 42, 78); 
    background: #d5d7e4; 
    border-radius: 40px; 
    transition: ease-in-out 0.5s;
}

.name {
    font-family: 'Unica One', sans-serif;
    font-size: 2rem; 
    margin: 0; 
    padding: 0; 
    color: rgb(247, 233, 216); 
}

.hero-name {
    font-family: 'Unica One', sans-serif;
    font-size: 3rem;
    padding: 0;
    margin: 0; 
    font-weight: 400; 
}

.hero-text h3 {
    font-weight: 400;
}

.header-right {
    display: flex; 
    justify-content: flex-end;  
}

.about {  
    background: white;
    text-align: center; 
    margin: 1rem; 
    display: flex; 
    align-items: center; 
}

.top-text svg {
    margin-right: 2rem;
}

.linkedin {
    text-decoration: none;
    color: #4f4f81; 
}

.linkedin:hover {
    color: #14142A; 
    transition: ease-in-out 0.3s;
}

.pixel {
    width: 80%; 
}

.skills {
    padding: 2rem; 
    
    text-align: center; 
}

h1 {
    font-family: 'Unica One', serif;
}

.web li{
    list-style: none;  
}

.web {
    text-align: center; 
    align-items: center; 
    padding: 1rem; 
}

.border {
    padding: 2rem; 
    display: flex;
    justify-content: space-evenly;
    /* background: #d5d7e4; */
    border-radius: 30px;
    border: 2px solid #4f4f81;
}

.mrschip {
    width: 100%; 
    display: flex; 
    padding: 1.5rem 3rem ; 
    align-items: center;
    justify-content: space-evenly;
}

.mrschip img {
    max-width: 100%; 
    margin: auto; 
    align-items: center; 
    border-radius: 20px;
    transition: transform 0.3s ease, filter 0.3s ease;
}

.mrschip a {
    width: 70%; 
}

a:hover img {
    transform: scale(1.01); /* Zoom in */
    filter: brightness(0.8); 
  }

.project-text {
    padding: 1rem 2rem; 
    text-align: left; 
    width: 70%; 
}

.contact {
    padding: 2rem 4rem; 
}

.contact p {
    text-align: center; 
}

.contact a {
    text-align: center; 
    color: rgb(33, 42, 78); 
    text-decoration: underline; 
}

.contact a:hover {
    color: #4e4a96ac; 
    transition: ease-in-out 0.3s;
}

.contact-types {
    display: flex; 
    justify-content: space-evenly; 
    padding: 2rem; 

}

footer {
    padding: 1rem; 
    background-color: #AAA5D6;
    color: white; 
    text-align: center;
}

.branding {
    width: 100%; 
    padding: 0; 
    margin: 0; 
}

.branding img {
    width: 100%;
    max-width: 100%; /* Ensures the image won't exceed its container's width */
    height: auto; /* Keeps the aspect ratio */
}

.logo-branding {
    width: 100%; 
    text-align: center; 
}

.logo-branding img {
    max-width: 100%; 
    padding: 1rem 3rem; 
    height: auto; 
}

#backend {
    text-align: center; 
    background-color: #4f4f81;
    padding: 2rem; 
    color:white; 
}

.brand-grid {
    display: grid;
    grid-template-columns: 1.3fr 1.03fr; 
    width: 100%; 
}

.brand-grid2 {
    display: grid;
    grid-template-columns: 1.63fr 1fr 1.14fr; 
    width: 100%; 
}

.brand-grid3 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;  
    width: 100%; 
}

.grid2 {
    display: grid; 
    grid-template-columns: 1fr 1fr;
    width: 100%; 
}

.straightdown {
    display: block; 
    max-width: 700px;  
    height: auto;
    margin: 0 auto;
    padding: 0;  
    text-align: center;
}

.straightdown img {
    max-width: 100%;    
}

.ux {
    width: 100%; 
}
.grid3 {
    display: grid; 
    grid-template-columns: 1fr 1.4fr; 
    width: 100%; 
}

.brand-grid4 {
    display: grid; 
    width: 100%; 
    grid-template-columns: 1.125fr 1fr 1fr; 
}

.brand-grid5 {
    display: grid;
    grid-template-columns: 1.335fr 1fr; 
    width: 100%; 
}

.grid {
    display: grid;
    grid-template-columns: .941fr 1fr; 
    width: 100%; 
    margin: 1rem 0;
  }
  
  .grid img {
    width: 100%; 
    /* height: 50vh; */
    object-fit: cover; 
    display: block;
    /* border: 2px solid #14142A;  */
  }
  
  .page-text {
    width: 100%; 
    text-align: center; 
    padding: 1rem 4rem; 
  }

  .page-div {
    width: 100%; 
    display: flex; 
    justify-content: space-around;
  }

  .page-button {
    text-decoration: none;
    color: #4f4f81; 
    background-color: #d5d7e4; 
    padding: 1rem; 
    border-radius: 40px;
    line-height: 3rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }

  .page-button:hover {
    background-color: #AAA5D6; 
    transition: ease-in-out 0.3s;
  }
  .page-main {
    width: 100%; 
  }
  .page-main img{
   width: 100%; 
  }

@media screen and (max-width: 800px) {

    nav ul {
        flex-direction: column;
    }

    nav li {
        padding-top: 1.5rem; 
    }

    #name {
        margin-bottom: 1rem; 
    }

    h1 {
        font-size: 1.4rem; 
    }

    .hero {
        display: block; 
    }

    .hero-image {
        width: 100%; 
        overflow: hidden;
        margin: 0; 
    }

    .hero-text {
        width: 100%; 
        padding: 1rem; 
        text-align: center; 
        margin: 0; 
    }

    .top-text {
        margin-right: 0;  
        text-align: left; 
        padding: 0 3rem; 

    }

    .image {
        margin-left: 0; 
        width: 200px;
    }

    .about {
        flex-direction: column; 
    }

    .projectbanner {
        height: 30vh; 
    }

    .header-right {
        justify-content: center; 
    }

    .border {
        flex-direction: column; 
    }

    .web {
        margin-bottom: 1rem; 
    }

    .contact-types {
        flex-direction: column; 
    }

    .grid {
        display: block; 
    }
    
    .mrschip {
        flex-direction: column; 
        padding: 1rem; 
    }

    .project-text {
        width: 100%; 
        text-align: center;
    }

    .page-div {
        flex-direction: column; 
    }

    .brand-grid {
        grid-template-columns: 1fr; 
    }

    .grid2 {
        grid-template-columns: 1fr; 
    }

    .grid3 {
        grid-template-columns: 1fr; 
    }

    .brand-grid3 {
        grid-template-columns: 1fr; 
    }

    .brand-grid2 {
        grid-template-columns: 1fr; 
    }

    .brand-grid4 {
        grid-template-columns: 1fr; 
    }

    .brand-grid5 {
        grid-template-columns: 1fr;
    }

    .grid img {
        object-fit: contain;
        height: auto; 
        margin: 0; 
        padding: 0; 
        width: 100%; 
        display: block;
        /* border: 2px solid #14142A;  */
      }
}